<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCountPerApplication="1" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="PORT" value="%HTTP_PLATFORM_PORT%" />
  </appSettings>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <location path="public">
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      </staticContent>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  <location path="static">
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      </staticContent>
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  <location path="server.js">
    <system.webServer>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="node_modules" />
            <add segment="iisnode" />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
